<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Student Overzicht</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container">
    <div class="row">
        <h2 class="col title mb-0">Student overzicht</h2>
        <span class="col"><span th:replace="fragments/buttons :: new(@{/student/new})"></span></span>
        <p >Totaal aantal studenten: <span th:text="${allStudents.size()}"></span></p>
    </div>

    <table class="table">
        <tr class="table-secondary">
            <th>Naam</th>
            <th>Privé email</th>
            <th>School email</th>
            <th>Cohort</th>
            <th></th>
            <th></th>
        </tr>

        <tr class="border-bottom" th:each="student : ${allStudents}">
            <td th:text="${student.displayName}"></td>
            <td th:text="${student.privateEmail}"></td>
            <td th:text="${student.schoolEmail}"></td>
            <td>
                <table>
                    <tr th:each="cohort : ${student.getCohorts}">
                        <td>
                            <span th:replace="fragments/buttons :: link(
                            @{/cohort/details/{cohortId}(cohortId=${cohort.cohortId})}, 'Cohort ' + ${cohort.getName})">
                            </span>
                        <td >
                    </tr>
                </table>
            </td>
            <td class="float-end border-white">
                <span th:replace="fragments/buttons :: delete(
                @{/student/delete/{studentId}(studentId=${student.studentId})})">
                </span>
            </td>
            <td class="float-end border-white">
                <span th:replace="fragments/buttons :: edit(
                @{/student/edit/{studentId}(studentId=${student.studentId})})">
                </span>
            </td>
        </tr>
    </table>
</div>

<div th:replace="fragments/general :: footer"></div>

<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>