<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title th:text="${shownStudentExam.exam.displayExamTitle}"></title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container">
    <div class="row">
        <div class="col">
            <h3 th:text="${shownStudentExam.exam.displayExamTitle} + ', '
            + ${shownStudentExam.exam.displayExamSubtitle}"></h3>
        </div>
        <div class="col">
            <a class="btn btn-primary float-end"
               th:href="@{/studentExam/export/{studentExamId}(studentExamId=${shownStudentExam.getStudentExamId})}">
                Exporteer als pdf
            </a>
        </div>
    </div>

    <table class="table table-borderless">
        <tr>
            <td>Student:</td>
            <td th:text="${shownStudentExam.student.displayName}"></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td th:text="${shownStudentExam.student.schoolEmail}"></td>
        </tr>
        <tr>
            <td>Toetsdatum:</td>
            <td th:text="${#temporals.format(shownStudentExam.exam.examDate, 'dd-MM-yyyy')}"></td>
        </tr>
        <tr>
            <td>Resultaat:</td>
            <td th:text="${shownStudentExam.displayGrade}"></td>
        </tr>
        <tr>
            <td>Punten behaald:</td>
            <td th:text="${shownStudentExam.pointsAttained} + ' / '
            + ${shownStudentExam.exam.totalAttainablePoints}"></td>
        </tr>
        <tr>
            <td>Docent:</td>
            <td th:if="${shownStudentExam.exam.subject.teacher != null}"
                th:text="${shownStudentExam.exam.subject.teacher.displayName}">
            </td>
            <td th:unless="${shownStudentExam.exam.subject.teacher != null}"></td>
        </tr>
        <tr>
            <td>Cohort:</td>
            <td th:if="${shownStudentExam.exam.cohort != null}" th:text="${shownStudentExam.exam.cohort.name}"></td>
            <td th:unless="${shownStudentExam.exam.cohort != null}" th:text="geen"></td>
        </tr>
        <tr>
            <td>Vak:</td>
            <td th:text="${shownStudentExam.exam.subject.title}"></td>
        </tr>
        <tr>
            <td>Leerdoelen:</td>
            <td>
                <table>
                    <tr th:each="goal : ${shownStudentExam.exam.subject.learningGoals}">
                        <td th:text="${goal.title} + ' - ' + ${goal.description}"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <table class="table">
        <thead class="table-secondary">
            <tr>
                <th>Vraag</th>
                <th>Punten</th>
                <th class="w-75">Feedback</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="answer : ${shownStudentExam.getStudentExamAnswers}">
                <td th:text="'Vraag ' + ${answer.questionNumber}"></td>
                <td th:text="${answer.pointsAttained} + ' / ' + ${answer.attainablePoints}"></td>
                <td th:text="${answer.feedback}"></td>
            </tr>
        </tbody>
    </table>
</div>

<div th:replace="fragments/general :: footer"></div>

<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>