<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Cohort Invoer</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container">
    <h2>Cohort invoer</h2>

    <form th:action="@{/cohort/new}" method="post" th:object="${cohort}">
        <input type="hidden" th:field="*{cohortId}">


            <div class="form-group col-md-4">
                <label class="form-label">Cohort nummer</label>
                <input type="text" class="form-control" th:field="*{number}">
        </div>
        <div class="form-group col-md-4">
                <label class="form-label">Start Datum</label>
                <input type="date" class="form-control" th:field="*{startDate}">
        </div>

        <div class="form-group col-md-4">
            <label class="form-label">Studierichting</label>
            <select class="form-control" th:field="*{course}">
                <option th:each="course : ${allCourses}"
                        th:value="${course.courseId}"
                        th:text="${course.name}"></option>
            </select>
        </div>

        <!-- to add the student that are already there -->
        <div hidden>
            <th>Student in dit cohort</th>
            <td><label>
                <select class="form-select" th:field="*{students}" multiple>
                    <option th:each="student : ${cohort.students}"
                                th:value="${student.studentId}"
                                th:text="${student.displayName}">
                    </option>
                </select>
            </label></td>
        </div>

        <span th:replace="fragments/buttons :: save"></span>

        <a class="btn btn-light" href="/cohort/all">Annuleren</a>


        <div style="display: flex; align-items: center;">
        <h3>Studenten in dit cohort</h3>
        <span th:replace="fragments/buttons :: editOnTitle(@{/cohort/details/{number}(number = ${cohort.number})})"></span>
        </div>

        <table class="table">
            <tr th:each="student : ${cohort.students}">
                <td th:text="${student.displayName}"></td>
            </tr>
        </table>

    </form>
</div>

<div th:replace="fragments/general :: footer"></div>

<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>