<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Cohort Details</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container">
    <div>
        <h2>Cohort <span th:text="${cohort.getName}"></span></h2>
        <p>Startdatum: <span th:text="${#temporals.format(cohort.startDate, 'dd-MM-yyyy')}"></span></p>
        <p>Studierichting:
            <span th:if="${cohort.course != null}">
                <span th:text="${cohort.course.name}"></span>
            </span>
            <span th:unless="${cohort.course != null}"></span>
        </p>
        <p>Aantal studenten: <span th:text="${cohort.students.size()}"></span></p>
        <br>
    </div>

    <form th:action="@{/cohort/enrollStudent}" method="post" th:object="${enrollment}">
        <input type="hidden" th:field="*{cohort}">

        <div class="form-group col-md-4">
            <label for="authors" class="form-label">
                <select id="authors" class="form-control" th:field="*{student}">
                    <option th:each="unenrolledStudent : ${allUnenrolledStudents}"
                            th:value="${unenrolledStudent.studentId}"
                            th:text="${unenrolledStudent.displayName}">
                    </option>
                </select>
            </label>
        </div>

        <span th:replace="/fragments/buttons :: saveCustom('Voeg student toe')"></span>
         <a class="btn btn-light" href="/cohort/all">Annuleren</a>
    </form>

    <h2>Studenten in dit cohort</h2>
    <table class="table">
        <thead>
            <tr class="table-secondary">
               <th>Naam</th>
                <th>Privé email</th>
                <th>School email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="border-bottom" th:each="student : ${cohort.students}">
                <td th:text="${student.displayName}"></td>
                <td th:text="${student.privateEmail}"></td>
                <td th:text="${student.schoolEmail}"></td>
                <td class="float-end border-white">
                    <span th:replace="/fragments/buttons :: deleteCustom(
                    @{/cohort/unenroll/{cohortId}/{studentId}
                    (cohortId = ${cohort.cohortId}, studentId = ${student.studentId})}, 'Verwijder uit cohort')">
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>