<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Cohort Overzicht</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container">
    <div class="row">
        <h2 class="col">Cohort overzicht</h2>
        <span class="col"><span th:replace="fragments/buttons :: new(@{/cohort/new})"></span></span>
    </div>

    <table class="table">
        <thead>
            <tr class="table-secondary">
                <th>Cohort</th>
                <th>Studierichting</th>
                <th>Start Datum</th>
                <th>Aantal Studenten</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="border-bottom" th:each="cohort : ${allCohorts}">
                <td >
                    <span th:replace="fragments/buttons :: link(@{/cohort/details/{number}(number=${cohort.cohortId})},
                    'Cohort ' + ${cohort.getName})"></span>
                </td>
                <td><span th:if="${cohort.course != null}">
                        <span th:replace="fragments/buttons ::
                            link(@{/course/details/{name}(name=${cohort.course.name})}, ${cohort.course.name})">
                        </span>
                    </span>
                    <span th:unless="${cohort.course != null}"></span>
                </td>
                <td th:text="${#temporals.format(cohort.startDate, 'dd-MM-yyyy')}"></td>
                <td th:text="${cohort.students.size()}"></td>
                <td class="float-end border-white">
                    <span th:replace="fragments/buttons :: delete(
                    @{/cohort/delete/{cohortId}(cohortId=${cohort.cohortId})})">
                    </span>
                </td>
                <td class="float-end border-white">
                    <span th:replace="fragments/buttons :: edit(
                    @{/cohort/edit/{cohortId}(cohortId=${cohort.cohortId})})">
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div th:replace="fragments/general :: footer"></div>

<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>