<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Cohort Details</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container">
    <div>
        <h2>Cohort <span th:text="${cohort.number}"></span></h2>
        <p>Startdatum: <span th:text="${#temporals.format(cohort.startDate, 'dd-MM-yyyy')}"></span></p>
        <p>Studierichting: <span th:text="${cohort.course.name}"></span></p>
        <p>Aantal studenten: <span th:text="${cohort.students.size()}"></span></p>
        <br>
    </div>

    <form th:action="@{/cohort/enrollStudent}" method="post" th:object="${enrollment}">
        <input type="hidden" th:field="*{cohort}">

        <div class="form-group">
            <label for="authors" class="form-label">Selecteer student</label>
            <select id="authors" class="form-control" th:field="*{student}">
                <option th:each="unenrolledStudent : ${allUnenrolledStudents}"
                        th:value="${unenrolledStudent.studentId}"
                        th:text="${unenrolledStudent.displayName}">
                </option>
            </select>
        </div>

        <div class="form-group">
            <span th:replace="/fragments/buttons :: saveCustom('Voeg student toe')"></span>
        </div>
    </form>

    <table class="table">
        <thead>
            <th>Studenten in dit cohort</th>
            <th></th>
        </thead>
        <tbody>
            <tr th:each="student : ${cohort.students}">
                <td th:text="${student.displayName}"></td>
                <td><span th:replace="/fragments/buttons :: deleteCustom(@{/cohort/unenroll/{cohortId}/{studentId}(cohortId = ${cohort.cohortId}, studentId = ${student.studentId})},
                'Verwijder uit cohort')"></span></td>
            </tr>
        </tbody>

    </table>

</div>

<div th:replace="fragments/general :: footer"></div>

<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>