<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Vak invoer</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container">
    <h2>Vak invoer</h2>

    <form th:action="@{/subject/new}" method="post" th:object="${subject}">
        <input type="hidden" th:field="*{subjectId}">
        <table class="table table-borderless">
            <tr>
                <td>Vaknaam:</td>
                <td><label>
                    <input type="text" th:field="*{title}">
                </label></td>
            </tr>
            <tr>
                <td>Duur (dagen):</td>
                <td><label>
                    <input type="number" min="1" th:field="*{duration}">
                </label></td>
            </tr>
            <tr>
                <td>Docent:</td>
                <td>
                    <label>
                        <select th:field="*{teacher}">
                            <option th:each="teacher : ${allTeachers}"
                                    th:value="${teacher.teacherId}"
                                    th:text="${teacher.displayName}"></option>
                        </select>
                    </label>
                </td>
            </tr>
            <tr>
                <td>Lesdoelen:</td>
                <td>
                    <label>
                        <select th:field="*{learningGoals}" multiple="multiple">
                            <option th:each="goal : ${allLearningGoals}"
                                    th:value="${goal.learningGoalId}"
                                    th:text="${goal.title}">
                            </option>
                        </select>
                    </label>
                </td>
            </tr>
            <tr>
                <td>Omschrijving:</td>
            </tr>
        </table>

        <textarea class="form-control" rows="4" th:field="*{description}"></textarea>

        <span th:replace="fragments/buttons :: save"></span>

        <a class="btn btn-light" href="/subject/all">Annuleren</a>
    </form>
</div>

<div th:replace="fragments/general :: footer"></div>

<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>