<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Studierichting invoer</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container">
    <h2>Studierichting invoer</h2>

    <form th:action="@{/course/new}" method="post" th:object="${course}">
        <input type="hidden" th:field="*{courseId}">

         <div class="form-group col-md-4">
                <label class="form-label">Cursusnaam</label>
                <input type="text" class="form-control" th:field="*{name}">
        </div>

        <div class="form-group col-md-4">
                <label class="form-label">Afbeelding url</label>
                <input type="url" class="form-control" th:field="*{imageUrl}">
        </div>

        <div class="form-group col-md-4">
            <label class="form-label">Vakken</label>
            <select class="form-control" th:field="*{subjects}" multiple>
                <option th:each="subject : ${allSubjects}"
                        th:value="${subject.subjectId}"
                        th:text="${subject.title}"></option>
            </select>
        </div>

        <div class="form-group col-md-4">
            <label class="form-label">Omschrijving</label>
            <textarea class="form-control" rows="3" th:field="*{description}"></textarea>
        </div>

        <span th:replace="fragments/buttons :: save"></span>

        <a class="btn btn-light" th:href="@{/course/return/{courseId}(courseId=${course.courseId})}">Annuleren</a>
    </form>
</div>

<div th:replace="fragments/general :: footer"></div>

<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>