<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Tentamen invoer</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container">
    <h2>Tentamen invoer</h2>

    <form th:action="@{/exam/new}" method="post" th:object="${exam}">
        <input type="hidden" th:field="*{examId}">

        <div class="form-group col-md-4">
            <label class="form-label">Toets datum
                <input type="date" class="form-control" th:field="*{examDate}">
            </label>
        </div>

        <div class="form-group col-md-4">
            <label class="form-label">Cohort
                <select class="form-control" th:field="*{cohort}">
                    <option th:each="cohort : ${allCohorts}"
                            th:value="${cohort.cohortId}"
                            th:text="'Cohort ' + ${cohort.name}"></option>
                </select>
            </label>
        </div>

        <div class="form-group col-md-4">
            <label class="form-label">Vak
                <select class="form-control" th:field="*{subject}">
                    <option th:each="subject : ${allSubjects}"
                            th:value="${subject.subjectId}"
                            th:text="${subject.title}"></option>
                </select>
            </label>
        </div>

        <br>

        <div class="form-check">
            <label class="form-check-label">Herkansing
                <input class="form-check-input" type="checkbox" th:field="*{resit}">
            </label>
        </div>

        <span th:replace="fragments/buttons :: save"></span>

        <a class="btn btn-light" href="/exam/all">Annuleren</a>
    </form>
</div>

<div th:replace="fragments/general :: footer"></div>

<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>