<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title th:text="${shownExam.displayExamTitle}"></title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container">
    <div class="exam-title row">
        <div class="col col-md-6">
            <h2 th:text="${shownExam.displayExamTitle}"></h2>
            <h4 th:text="${shownExam.displayExamSubtitle}"></h4>
        </div>
        <div class="col">
            <span th:replace="fragments/buttons :: editOnTitle(@{/exam/edit/{examId}(examId=${shownExam.examId})})">
            </span>
        </div>
        <div class="col">
             <span th:replace="fragments/buttons :: new(@{/question/new/{examId}(examId=${shownExam.examId})})"></span>
        </div>
    </div>

    <table class="table">
        <thead class="table-secondary">
        <tr>
            <th>Nummer</th>
            <th>Vraag</th>
            <th>Punten</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr class="border-bottom" th:each="examQuestion : ${shownExam.examQuestions}">
            <td th:text="${examQuestion.questionNumber}"></td>
            <td th:text="${examQuestion.questionText}"></td>
            <td th:text="${examQuestion.attainablePoints}"></td>
            <td class="float-end border-white">
                <span th:replace="fragments/buttons :: delete(
                @{/question/delete/{questionId}(questionId=${examQuestion.examQuestionId})})">
                </span>
            </td>
            <td class="float-end border-white">
                <span th:replace="fragments/buttons :: edit(
                @{/question/edit/{examQuestionId}(examQuestionId=${examQuestion.examQuestionId})})">
                </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="fragments/general :: footer"></div>

<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>