<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Toets resultaat invoer</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container">
    <h2>Toets resultaat invoer</h2>

    <form th:action="@{/studentExam/new}"
            method="post" th:object="${studentExam}">
        <input type="hidden" th:field="*{studentExamId}">
        <input type="hidden" th:field="*{exam}">

        <table class="table table-borderless">
            <tr>
                <td>Student:</td>
                <td><label>
                    <select th:field="*{student}">
                        <option th:each="student : ${studentsWithoutExam}"
                                th:value="${student.studentId}"
                                th:text="${student.displayName}"></option>
                    </select>
                </label></td>
            </tr>
        </table>

        <span th:replace="fragments/buttons :: save"></span>

        <a class="btn"
           th:href="@{/studentExam/cancel/{studentExamId}(studentExamId=${studentExam.studentExamId})}">Annuleren
        </a>

        <table class="table table-borderless">
            <tr>
                <td></td>
                <td>Punten behaald</td>
                <td>Feedback</td>
            </tr>
            <tr th:each="question, itemStat : ${studentExam.studentExamQuestions}">
                <td th:text="'Vraag ' + ${question.questionNumber}"></td>
                <td><label>
                    <input type="number" th:field="*{studentExamQuestions[__${itemStat.index}__].pointsAttained}">
                </label></td>
                <td><label>
                    <input type="text" th:field="*{studentExamQuestions[__${itemStat.index}__].feedback}">
                </label></td>
                <td type="hidden">
                    <input type="hidden"
                           th:field="*{studentExamQuestions[__${itemStat.index}__].studentExamQuestionId}">
                </td>
                <td type="hidden">
                    <input type="hidden"
                           th:field="*{studentExamQuestions[__${itemStat.index}__].studentExam}">
                </td>
                <td type="hidden">
                    <input type="hidden"
                           th:field="*{studentExamQuestions[__${itemStat.index}__].questionNumber}">
                </td>
            </tr>
        </table>

        <span th:replace="fragments/buttons :: save"></span>

        <a class="btn"
           th:href="@{/studentExam/cancel/{studentExamId}(studentExamId=${studentExam.studentExamId})}">Annuleren
        </a>
    </form>
</div>

<div th:replace="fragments/general :: footer"></div>

<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>