<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Docent Invoer</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container">
  <h2>Docent invoer</h2>

  <form th:action="@{/teacher/new}" method="post" th:object="${teacher}">
      <input type="hidden" th:field="*{teacherId}">


          <div class="form-group col-md-4">
                <label class="form-label">Voornaam</label>
                <input type="text" class="form-control" th:field="*{firstName}" required>
          </div>
          <div class="form-group col-md-4">
                <label class="form-label">Tussenvoegsel</label>
                <input type="text" class="form-control" th:field="*{infixName}">
          </div>
          <div class="form-group col-md-4">
                <label class="form-label">Achternaam</label>
                <input type="text" class="form-control" th:field="*{lastName}" required>
          </div>

      <span th:replace="fragments/buttons :: save"></span>

      <a class="btn btn-light" href="/teacher/all">Annuleren</a>
  </form>
</div>

<div th:replace="fragments/general :: footer"></div>

<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>