<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Buttons</title>
</head>
<body>

<!-- New button fragment-->
<span th:fragment="new(link)">
    <a type="button" class="btn btn-success float-end btn-new"
       th:href="${link}"
    >
        <span th:replace="fragments/icons :: newIcon"></span>
        Voeg nieuwe toe
    </a>
</span>

<!-- Delete button fragment-->
<span th:fragment="delete(link)">
    <a type="button" class="btn btn-danger btn-table btn-sm"
       th:href="${link}">Verwijder

        <span th:replace="fragments/icons :: deleteIcon"></span>
    </a>
</span>

<!-- Edit button fragment-->
<span th:fragment="edit(link)">
    <a type="button" class="btn btn-secondary btn-table btn-sm"
       th:href="${link}">Wijzig

        <span th:replace="fragments/icons :: editIcon"></span>
    </a>
</span>

<!-- Edit on title button fragment-->
<span class="btn-title" th:fragment="editOnTitle(link)">
    <a type="button" class="btn btn-secondary btn-sm"
       th:href="${link}">Wijzig

        <span th:replace="fragments/icons :: editIcon"></span>
    </a>
</span>


<!-- Save button fragment -->
<div th:fragment="save" class="text-end mt-3" >
    <a type="submit" class="btn btn-primary">
        <span th:replace="fragments/icons :: saveIcon"></span>
        Save
    </a>
</div>

<!-- Link button fragment-->
<span th:fragment="link(link, text)">
    <a class="btn btn-light btn-table btn-sm" th:href="${link}">
        <span th:text="${text}" > </span>
        <span th:replace="fragments/icons :: linkIcon"></span>
    </a>
</span>


