<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Buttons</title>
</head>
<body>

<!-- New button with standard text -->
<span th:fragment="new(link)">
    <a type="button" class="btn btn-success float-end btn-new"
       th:href="${link}"
    >
        <span th:replace="fragments/icons :: newIcon"></span>
        <span>Voeg nieuwe toe</span>
    </a>
</span>

<!-- New button with custom text-->

<span th:fragment="newCustom(link, buttonText)">
    <a type="button" class="btn btn-success float-end btn-new"
       th:href="${link}"
    >
        <span th:replace="fragments/icons :: newIcon"></span>
        <span th:text="${buttonText}"></span>
    </a>
</span>

<!-- Delete button with custom text -->

<span th:fragment="deleteCustom(link, buttonText)">
    <a type="button" class="btn btn-danger btn-table btn-sm"
       th:href="${link}">

        <span th:replace="fragments/icons :: deleteIcon"></span>
        <span th:text="${buttonText}"></span>
    </a>
</span>

<!-- Delete button -->
<span th:fragment="delete(link)">
    <a type="button" class="btn btn-danger btn-table btn-sm"
       th:href="${link}">Verwijder

        <span th:replace="fragments/icons :: deleteIcon"></span>
    </a>
</span>

<!-- Edit button with custom text -->

<span th:fragment="editCustom(link, buttonText)">
    <a type="button" class="btn btn-secondary btn-table btn-sm"
       th:href="${link}">

        <span th:replace="fragments/icons :: editIcon"></span>
        <span th:text="${buttonText}"></span>
    </a>
</span>

<!-- Edit button -->
<span th:fragment="edit(link)">
    <a type="button" class="btn btn-secondary btn-table btn-sm"
       th:href="${link}">Wijzig

        <span th:replace="fragments/icons :: editIcon"></span>
    </a>
</span>

<!-- Edit button on title button -->
<span class="btn-title" th:fragment="editOnTitle(link)">
    <a type="button" class="btn btn-secondary btn-sm"
       th:href="${link}">Wijzig

        <span th:replace="fragments/icons :: editIcon"></span>
    </a>
</span>

<!-- Save button -->
<span th:fragment="save">
    <button type="submit" class="btn btn-primary">
        <span th:replace="fragments/icons :: saveIcon"></span>
        Opslaan
    </button>
</span>

<!-- Save button with custom text-->
<span th:fragment="saveCustom(buttonText)">
    <button type="submit" class="btn btn-primary">
        <span th:replace="fragments/icons :: saveIcon"></span>
        <span th:text="${buttonText}"></span>
    </button>
</span>

<!-- Link button -->
<span th:fragment="link(link, text)">
    <a class="btn btn-light btn-table btn-sm" th:href="${link}">
        <span th:text="${text}" > </span>
    </a>
</span>


