<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:fragment="baseHeader(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title th:replace="${title}">Title</title>

    <link rel="icon" href="/images/cropped-favicon-32x32-1-1-32x32.webp">

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<div th:fragment="navbar">

    <nav class="navbar navbar-light navbar-expand-lg">
        <a class="navbar-brand" href="/">
            <img id="makeITWorkLogo" src="/images/makeItWorkTransParent.png" width="40%" height="40%" alt="">
        </a>
        <div class="container-fluid collapse navbar-collapse" sec:authorize="isAnonymous()">
            <div class="navbar-nav"></div>
            <div class="navbar-nav">
                <a class="nav-item nav-link" th:href="@{/login}">Log in</a>
            </div>
        </div>
        <div class="container-fluid collapse navbar-collapse" id="navbarNavAltMarkup" sec:authorize="isAuthenticated()">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/teacher/all">Docenten</a>
                <a class="nav-item nav-link" href="/student/all">Studenten</a>
                <a class="nav-item nav-link" href="/cohort/all">Cohorten</a>
                <a class="nav-item nav-link" href="/subject/all">Vakken</a>
            </div>
            <div class="navbar-nav">
                <a class="nav-item nav-link" th:href="@{/logout}">Log out</a>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="footer">
    <footer class="footer p-1">
        <p></p>
      <p class="text-center text">Copyright Stap++ &copy; 2023</p>
    </footer>
</div>

<div th:fragment="bottomScripts">
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</div>

</body>
</html>