<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:fragment="baseHeader(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title th:replace="${title}">Title</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<div th:fragment="navbar">

</div>

<div th:fragment="footer">
    <footer>
      <p>Copyright Stap++ &copy; 2023</p>
    </footer>
</div>

<div th:fragment="bottomScripts">
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</div>

</body>
</html>