<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Logout</title>
</head>

<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container">
    <form th:action="@{/logout}" method="post">
        <div>
            <input type="submit" value="Log uit" />
        </div>
    </form>
</div>

<div th:replace="fragments/general :: footer"></div>

<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>