body {
    display:grid;
    grid-template-rows: auto 1fr auto;
    min-height:100vh;
}

h1 {
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}

h2 {
    padding-top: 2%;
    padding-bottom: 2%;
}

h3 {
    padding-top: 4%;
    padding-bottom: 2%;
}

h4 {
    padding-bottom: 2%;
}

.banner {
    /* intelliJ zegt path niet te herkennen, maar vindt hem wel */
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url("/images/banner-image-scaled.png");
    width: 100%;
    display: flex;
    justify-content: center;
}

.banner-content {
    width: 70%;
    text-align: center;
}

.btn {
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-homepage {
    margin-bottom: 10px;
    background-color: #ff8f52;
}

.btn-new {
    margin-right: 5%;
}

.btn-table {
    margin: 0;
}

.btn-title {
    margin-left: 20px;
}

.course {
    flex: 50%;
    margin: 5%;
}

.description {
    text-align: center;
    padding-bottom: 5%;
}
.exam-title {
    display: flex;
    align-items: center;
}

.footer {
    background-color: #eaeaea;
}

.form-control {
    margin-bottom: 15px
}

.navbar {
    background-color: #eaeaea;
}

.navbar-frontpage {
    background-color: #ffffff;
}

.login-container {
    padding: 6%;
}

.logout-container {
    padding-top: 12%;
}

.student-exam-feedback-input {
    width: 250%;
}

#courses-overview {
    display: flex;
}

#makeITWorkLogo {
    padding-left: 20px;
}