body {
    display:grid;
    grid-template-rows: auto 1fr auto;
    min-height:100vh;
}

h1 {
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}

h2 {
    padding-top: 2%;
    padding-bottom: 2%;
}

.description {
    text-align: center;
    padding-bottom: 5%;
}

.btn {
    background-color: #d8d8d8;
}

.navbar {
    background-color: #AED9FE;
}

.banner {
    /* intelliJ zegt path niet te herkennen, maar vindt hem wel */
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url("/images/banner-image-scaled.png");
    width: 100%;
    display: flex;
    justify-content: center;
}

.banner-content {
    width: 70%;
    text-align: center;
}

.footer {
    background-color: #AED9FE;
}

#makeITWorkLogo {
    padding-left: 20px;
}

#courses-overview {
    display: flex;
    /*margin-top: 10%;*/
}

.course {
    flex: 50%;
    margin: 5%;
}