body {
    display:grid;
    grid-template-rows: auto 1fr auto;
    min-height:100vh;
}

.btn {
    background-color: #d8d8d8;
}

.navbar {
    background-color: #cad7e0;
}

.footer {
    background-color: #cad7e0;
}

#makeITWorkLogo {
    padding-left: 20px;
}