body {
    display:grid;
    grid-template-rows: auto 1fr auto;
    min-height:100vh;
}

.btn {
    background-color: #d8d8d8;
}

.navbar {
    background-color: #96a5b0;
}

.footer {
    background-color: #96a5b0;
}