<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Cohort Details</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container">
  <h2>Cohort <span th:text="${cohortShown.number}"></span></h2>
    <p></p>

    <table class="table table-hover table-borderless">
        <tr class="table-secondary">
            <th>Naam</th>
            <th>School Email</th>
            <th>Privé Email</th>
            <th>Wijzig</th>
            <th>Verwijder</th>
        </tr>
        <tr th:each="student : ${cohortShown.students}">
            <td th:text="${student.displayName}"></td>
            <td th:text="${student.privateEmail}"></td>
            <td th:text="${student.schoolEmail}"></td>
            <td><a th:href="@{/student/edit/{studentId}(studentId=${student.studentId})}">Wijzig</a></td>
            <td><a th:href="@{/student/delete/{studentId}(studentId=${student.studentId})}">Verwijder</a></td>
        </tr>
    </table>

    <a class="btn" href="/student/new">Voeg nieuwe student toe</a>

</div>

<div th:replace="fragments/general :: footer"></div>

<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>