<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Cohort Overzicht</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container">
     <h2>Cohort Overview</h2>
    <table class="table table-hover">
        <thead>
            <tr class="table-secondary">
                <th>Cohort</th>
                <th>Start Datum</th>
                <th>Aantal Studenten</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cohort : ${allCohorts}">
                <td >
                    <a class="link-dark text-decoration-none" th:href="@{/cohort/details/{number}(number=${cohort.number})}"
                        th:text="'Cohort ' + ${cohort.number}">
                    </a>
                </td>
                <td >
                    <a class="link-dark text-decoration-none" th:href="@{/cohort/details/{number}(number=${cohort.number})}"
                        th:text="${#temporals.format(cohort.startDate, 'dd-MM-yyyy')}">
                    </a>
                </td>
                <td>
                    <a class="link-dark text-decoration-none" th:href="@{/cohort/details/{number}(number=${cohort.number})}"
                        th:text="${cohort.students.size()}">
                    </a>
                </td>
                <td><a th:href="@{/cohort/edit/{cohortId}(cohortId=${cohort.cohortId})}">Wijzig</a></td>
                <td><a th:href="@{/cohort/delete/{cohortId}(cohortId=${cohort.cohortId})}">Verwijder</a></td>
            </tr>
        </tbody>
    </table>

    <div th:replace="fragments/buttons :: new(@{/cohort/new})"></div>


</div>

<div th:replace="fragments/general :: footer"></div>

<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>