<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title th:text="${shownCourse.name}"></title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container">
    <table class="table table-hover">
        <tr class="table-secondary">
            <th th:text="${shownCourse.name}">></th>
        </tr>
        <tr>
            <td th:text="${shownCourse.description}"></td>
        </tr>
    </table>
    <p></p>
    <table class="table table-hover table-borderless">
        <tr class="table-secondary">
            <th class="w-25">Vakken</th>
            <th>Omschrijving</th>
        </tr>
        <tr th:each="subject : ${shownCourse.subjects}">
            <td class="w-25" th:text="${subject.title}"></td>
            <td th:text="${subject.description}"></td>
        </tr>
    </table>
</div>

<div th:replace="fragments/general :: footer"></div>

<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>