<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Lesdoel invoer</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container">
    <h1>Lesdoel invoer</h1>

    <form th:action="@{/goal/new}" method="post" th:object="${learningGoal}">
        <input type="hidden" th:field="*{learningGoalId}">
        <table class="table table-borderless">
            <tr>
                <td>Lesdoel naam:</td>
                <td><label>
                    <input class="form-control border-dark" type="text" th:field="*{title}">
                </label></td>
            </tr>
            <tr>
                <td>Omschrijving:</td>
                <td><label>
                    <input class="form-control border-dark" type="text" th:field="*{description}">
                </label></td>
            </tr>
        </table>

        <input class="btn" type="submit" value="Opslaan">
    </form>
</div>

<div th:replace="fragments/general :: footer"></div>

<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>