<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Student Overzicht</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container">
    <div class="row">
        <h2 class="col">Student overzicht</h2>
        <span class="col"><a class="btn float-end" href="/student/new">Voeg nieuwe student toe</a></span>
    </div>

    <table class="table">
        <tr class="table-secondary">
            <th>Naam</th>
            <th>Privé email</th>
            <th>School email</th>
            <th>Cohort</th>
            <th>Wijzig</th>
            <th>Verwijder</th>
        </tr>

        <tr th:each="student : ${allStudents}">
            <td th:text="${student.displayName}"></td>
            <td th:text="${student.privateEmail}"></td>
            <td th:text="${student.schoolEmail}"></td>
            <td>
                <table>
                    <tr th:each="cohort : ${student.cohort}">
                        <td>
                            <a th:href="@{/cohort/details/{number}(number=${cohort.number})}"
                            th:text="'Cohort ' + ${cohort.number}"></a>
                        </td>
                    </tr>
                </table>
            </td>
            <td><a th:href="@{/student/edit/{studentId}(studentId=${student.studentId})}">Wijzig</a></td>
            <td><a th:href="@{/student/delete/{studentId}(studentId=${student.studentId})}">Verwijder</a></td>
        </tr>
    </table>
</div>

<div th:replace="fragments/general :: footer"></div>

<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>