<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Student Overzicht</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container">
    <h2>Student overview</h2>
    <table class="table">
        <tr class="table-secondary">
            <th>Naam</th>
            <th>Privé email</th>
            <th>School email</th>
            <th>Wijzig</th>
            <th>Verwijder</th>
        </tr>

        <tr th:each="student : ${allStudents}">
            <td th:text="${student.displayName}"></td>
            <td th:text="${student.privateEmail}"></td>
            <td th:text="${student.schoolEmail}"></td>
            <td><a th:href="@{/student/edit/{studentId}(studentId=${student.studentId})}">Wijzig</a></td>
            <td><a th:href="@{/student/delete/{studentId}(studentId=${student.studentId})}">Verwijder</a></td>
        </tr>
    </table>

    <a class="btn" href="/student/new">Voeg nieuwe student toe</a>
</div>

<div th:replace="fragments/general :: footer"></div>

<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>