<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Student Overview</title>
</head>
<body>
<h1>Student overview</h1>
<table>
  <tr>
    <th>Voornaam</th>
    <th>Tussenvoegsel</th>
    <th>Achternaam</th>
    <th>Privé email</th>
    <th>School email</th>
  </tr>

  <tr th:each="student : ${allStudents}">
    <td th:text="${student.firstName}"></td>
    <td th:text="${student.infixName}"></td>
    <td th:text="${student.lastName}"></td>
    <td th:text="${student.privateEmail}"></td>
    <td th:text="${student.schoolEmail}"></td>
  </tr>
</table>

<a href="/student/new">Voeg nieuwe student toe</a>

</body>
</html>