<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Student invoer</title>
</head>
<body>
<h1>Student invoer</h1>

<form th:action="@{/student/new}" method="post" th:object="${student}">
  <input type="hidden" th:field="*{studentId}">
  <table>
    <tr>
      <th>Voornaam</th>
      <th>Tussenvoegsel</th>
      <th>Achternaam</th>
      <th>Privé Email</th>
      <th>School Email</th>
    </tr>
    <tr>
      <td><label>
        <input type="text" th:field="*{firstName}">
      </label></td>
      <td><label>
        <input type="text" th:field="*{infixName}">
      </label></td>
      <td><label>
        <input type="text" th:field="*{lastName}">
      </label></td>
      <td><label>
        <input type="text" th:field="*{privateEmail}">
      </label></td>
      <td><label>
        <input type="text" th:field="*{schoolEmail}">
      </label></td>
    </tr>
  </table>

  <input type="submit" value="Opslaan">
</form>
</body>
</html>