<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Vak Overzicht</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container">

    <div class="row">
        <h2 class="col">Vak overzicht</h2>
        <span class="col"><span th:replace="fragments/buttons :: new(@{/subject/new})"></span></span>
    </div>

    <table class="table">

        <thead class="table-secondary">
        <tr>
            <th>Vaknaam</th>
            <th>Duur</th>
            <th>Leerdoelen</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="subject : ${allSubjects}">
            <td th:text="${subject.title}"></td>
            <td th:text="${subject.getDurationString()}"></td>
            <td>
                <table>
                    <tr th:each="goal : ${subject.learningGoals}">
                        <td th:text="${goal.title}"></td>
                    </tr>
                </table>
            </td>
            <td><a th:href="@{/subject/edit/{subjectId}(subjectId=${subject.subjectId})}">Wijzig</a></td>
            <td><a th:href="@{/subject/delete/{subjectId}(subjectId=${subject.subjectId})}">Verwijder</a></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="fragments/general :: footer"></div>

<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>