<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Vak Overview</title>
</head>
<body>
    <h1>Vak overview</h1>

    <a href="/subject/new">Vak toevoegen</a>

    <table>
        <tr th:each="subject : ${allSubjects}">
            <td th:text="${subject.title}"></td>
            <td th:number="${subject.duration}"></td>
            <td th:each="goal : ${subject.learningGoals}">
                <p th:text="${goal.title}"></p>
            </td>
        </tr>
    </table>
</body>
</html>