<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Docent Overzicht</title>
</head>
<body>

<div th:replace="fragments/general :: navbar"></div>

<div class="container">
    <h2>Docent Overview</h2>

    <table class="table">
        <tr class="table-secondary">
            <th>Naam</th>
            <th>Wijzig</th>
            <th>Verwijder</th>
        </tr>

        <tr th:each="teacher : ${allTeachers}">
            <td th:text="${teacher.displayName}"></td>
            <td><a th:href="@{/teacher/edit/{teacherId}(teacherId=${teacher.teacherId})}">Wijzig</a></td>
            <td><a th:href="@{/teacher/delete/{teacherId}(teacherId=${teacher.teacherId})}">Verwijder</a></td>
        </tr>
    </table>

    <div th:replace="fragments/buttons :: new(@{/teacher/new})"></div>
</div>

<div th:replace="fragments/general :: footer"></div>

<div th:replace="fragments/general :: bottomScripts"></div>

</body>
</html>